*,
*:before,
*:after{
  box-sizing: border-box;
}

.caja{
  width: 400px;
  height: 400px;
  border: 2px solid red;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png) yellow;
  background-repeat: repeat;
  background-position: center;
  
}