.container{
    display: flex;
  /*flex-direction: column-reverse;*/
    width: 500px;
    height: 500px;
    background: hsl(240, 100%, 90%);
    flex-wrap: wrap;
  /* flex-direction: column;  */
/*   align-items: center; */
  align-items: center;
  justify-content: left
  }
  
  .item{
  width: 30px;
   height:30px; 
    background: yellow;
    text-align: center;
        
  }

.item:nth-child(even){
  background: green;
  color: #fff;
}


.item:nth-child(n+23){
  order: 2;
}
.item:nth-child(23){
  order: -1; 
}