*,
*:before,
*:after{
  box-sizing: border-box;
}
.download{
  display: block;
}

.download::after{
  display: inline-block;
  margin-left: 5px;
}

[href$='pdf']::after{
  content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/PDF_icon_bold.svg/105px-PDF_icon_bold.svg.png);
  
}

[href$='txt']::after{
  content: url(https://www.iconarchive.com/download/i103769/blackvariant/button-ui-ms-office-2016/Word.ico);
  
}

