.point{
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left: 0;
    transition: all 1s ease;
  }
  
  body{
    width: 100%;
    height: 100vh;
  }
  body:hover .point{
    left: 90%;
    background: green;
  }