*{
    box-sizing: border-box;
  }
  
  .banner{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    
  }
  
  .item{
    display: flex;
    flex: 1 1 80px;
    transition: all .3s;
  }
  .item:first-child{
    background: hsl(80,80%,50%);
  }
  
  .item:nth-child(2){
    background: hsl(180,80%,50%);
  }
  .item:nth-child(3){
    background: hsl(270,80%,70%);
  }
  .item:nth-child(4){
    background: hsl(320,80%,80%);
  }
  .item span{
    margin: auto;
    transform: rotate(-90deg);
    transition: all .3s;
  }
  
  .item:last-child{
    flex: 1 0;
    
  }
  
  
  .item span{
    margin: auto;
    transform: rotate(-90deg);
    transition: all .3s;
  }
  
  .item:hover{
    flex: 10 0 auto;
  }
  
  .item:hover span{
    transform: none;
  }
  
  